---
import { SITE } from 'astrowind:config';
import logoSrc from '~/assets/favicons/favicon-96x96.png';
---

<span class="self-center text-lg md:text-xl font-bold font-heading text-white whitespace-nowrap flex items-center gap-2">
  <img
    src={logoSrc.src}
    alt={SITE?.name || ''}
    width="30"
    height="30"
    class="inline-block rounded-full"
  />
  {SITE?.name}
</span>
